{cover_enabled, true}.
{deps, [
        {exml, "2.1.5", {git, "git://github.com/esl/exml.git", "2.1.5"}},
        {proper, ".*", {git, "git://github.com/manopapad/proper.git", {tag, "v1.1"}}},
        {meck, ".*", {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
       ]}.
{erl_opts, [warnings_as_errors]}.
{edoc_opts, [{sort_functions, false}]}.
